<%= render "errors", object: form.object %>
<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>
<div>
  <%= form.label :url %>
  <%= form.text_area :url %>
</div>
<div>
  Groups:
  <%= form.collection_check_boxes :group_ids, current_user.groups, :id, :name %>
</div>
<div>
  Tags:
  <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
</div>
