<nav>
  <%= link_to "Back to Gallery", gallery_path(@image.gallery) %>
  <%= link_to "Edit", edit_gallery_image_path %>
  <%= link_to "Delete", gallery_image_path, method: :delete, data: { confirm: "Are you sure?" } %>
</nav>

<h1><%= @image.name %></h1>

<p><%= @image.description %></p>

<%= image_tag @image.url, width:200 %>

<%= render @image.comments %>

<%= form_for([@gallery, @image, @comment]) do |form| %>
  <%= form.text_area :content %>
  <%= form.submit "Post" %>
<% end %>
