<!DOCTYPE html>
<html>
  <head>
    <title>Pixtr</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div>
      <% if signed_in? %>
        Hey, <%= link_to current_user.first_name, root_path %>!
        <%= link_to "Sign Out", session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_path %>
        <%= link_to "Sign In", new_session_path %>
      <% end %>
    </div>
    <% flash.each do |key, value| %>
      <p class = "<%= key %>"><%= value %></p>
    <% end %>
    <%= yield %>

  </body>
</html>
